<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fund">

<select id="selectList" resultType="fundDto" parameterType="fundPagingDto">
SELECT B.*
FROM(SELECT A.* , ROWNUM AS RNUM
	FROM (SELECT * 
		FROM STOCK S FULL OUTER JOIN FUND F
		ON S.STOCK_NO = F.STOCK_NO
		WHERE S.STOCK_NO = F.STOCK_NO
		ORDER BY FUND_REGDATE)A )B
WHERE RNUM BETWEEN #{from} AND #{to}
</select>

<select id="bestList" resultType="fundDto">
SELECT *
FROM(SELECT * FROM STOCK S FULL OUTER JOIN FUND F ON S.STOCK_NO = F.STOCK_NO WHERE S.STOCK_NO = F.STOCK_NO ORDER BY FUND_JOIN DESC)
WHERE ROWNUM <![CDATA[ <= ]]> 4
</select>

<select id="detail" resultType="fundDto" parameterType="int">
SELECT * 
FROM STOCK S FULL OUTER JOIN FUND F
ON S.STOCK_NO = F.STOCK_NO
WHERE S.STOCK_NO = F.STOCK_NO AND s.STOCK_NO=#{stock_no}
ORDER BY FUND_REGDATE
</select>

<select id="totalpage" resultType="int">
SELECT count(*) 
FROM FUND INNER JOIN STOCK
ON FUND.STOCK_NO = STOCK.STOCK_NO WHERE FUND_STATUS=2
</select>

<insert id="orderinput" parameterType="fundPayDto">
INSERT INTO BILL (order_no, stock_no, mem_id)
VALUES(BILLSEQ.NEXTVAL, #{stock_no}, #{mem_id})
	<selectKey keyProperty="order_no" resultType="int" order="AFTER">
		select billseq.currval as order_no from dual
	</selectKey>
</insert>

<insert id="orderdetail" parameterType="fundPayDto">
INSERT INTO ORDERINFO (ORDERINFO_NO, ORDER_NO, ORDERINFO_KG, ORDERINFO_STATUS, ORDERINFO_DATE, ORDERINFO_KIND)
VALUES(ORDERINFOSEQ.NEXTVAL, #{order_no}, ${orderinfo_kg} , 1, SYSDATE,1)
</insert>

<insert id="payInput" parameterType="fundPayInputDto">
INSERT INTO PAY (PAY_NO, ORDER_NO, PAY_PRICE)
VALUES(PAYSEQ.NEXTVAL, #{order_no}, #{pay_price})
</insert>

<insert id="updateDetail" parameterType="fundPayInputDto">
INSERT INTO ORDERINFO (ORDERINFO_NO, ORDER_NO, ORDERINFO_KG, ORDERINFO_STATUS, ORDERINFO_DATE, ORDERINFO_KIND)
VALUES(ORDERINFOSEQ.NEXTVAL, #{order_no}, ${pay_price} , 2, SYSDATE,1)
</insert>

</mapper>
